# Deploy to Firebase Hosting on push to main (live)
name: Deploy to Firebase Hosting (Live)

on:
  push:
    branches:
      - main
  workflow_dispatch:


permissions:
  contents: read

jobs:
  deploy_live:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_KID_SEQUENCER }}
          channelId: live
          projectId: kid-sequencer
